.main-from{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0c0116 ;
}
.form-start{
    /* position: relative; */
    padding: 275px 277px !important ;
    width: 270px;
    height: 350px;
    box-shadow: 0px 0px 10px 0px rgb(116, 119, 114);
    border-radius: 5px;
    overflow: hidden;

}
@media only screen and (max-width:688px) {
   .form-start{
       padding: 60px 20px !important;
       width: 244px;
       height: 396px;
   }
     
   }

   
.login-inner{
    /* position: absolute; */
    height: 98%;
    width: 98%;
    /* top: 50%; */
    /* left: 50%; */
    background: #0c0116 ;
    transform: translate(-50%, -50%);
}
.login-text{
    font-size: 25px;
    color: #d7a3d7;
    text-align: center;
    padding-top: 35px;
}
.content-style{
    height: 100%;
    width: 100%;
    padding: 25px;
}
.login-inner .user-text{
    display: block;
    padding: 12px 15px;
    width: 400px !important;
    /* left: 50%; */
    border-radius: 10px;
    margin-top: 20px;
    border: 1.5px solid rgb(109, 87 , 121);
    outline: none;
    background: #19052c;
    color: white;
    transition: 0.25s;

}
.login-inner .user-text:focus{
    width: 500px !important;
}
.submit-btn{
    cursor: pointer;
    color: white;
    margin-top: 40px;
    width: 100%;
    padding: 12px;
    outline: none;
    background: #800080;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.4s;
}
.submit-btn{
    background: #c907c9;
}
/* animation */
.form-start .from-span{
    position: absolute;
    height: 50%;
    width: 50%;
}
/* for 1st line */
.form-start .from-span:nth-child(1){
    background: #ffda05;
    top: 0;
    left: -48%;
    animation: 5s span1 infinite linear;
    animation-delay: 1s;
}
@keyframes span1 {
    0%{
        top: -48%;
        left: -48%;
    }
    25%{
        top: -48%;
        left: 98%;
    }
    50%{
        top: 98%;
        left: 98%;
    }
    75%{
        top: 98%;
        left: -48%;
    }
    100%{
        top: -48%;
        left: -48%;
    }
}
/* for 2 line */
.form-start .from-span:nth-child(2){
    background: #00a800;
    bottom: 0;
    right: -48%;
    animation: 5s span2 infinite linear;
    /* animation-delay: 1s; */
}
@keyframes span2 {
    0%{
        bottom: -48%;
        right: -48%;
    }
    25%{
        bottom: -48%;
        right: 98%;
    }
    50%{
        bottom: 98%;
        right: 98%;
    }
    75%{
        bottom: 98%;
        right: -48%;
    }
    100%{
        bottom: -48%;
        right: -48%;
    }
}