.link-style{
    color: black;
    padding: 30px;
    text-decoration: none;
    transition: linear .4s;
}
.link-style:hover{
    color: white;
    /* background-color: #00a8ff;   */
    
}
.text-style{
    color: whitesmoke;
}
.text-style:hover{
    color: #dc3545;
}

.info-bar{
    margin-left: 30px;
    margin-right: 30px;
}
