.link-style{
    color: black;
    padding: 30px;
}
.link-style:hover{
    color: white;
    background-color: #00a8ff;  
    
}
.text-style{
    color: whitesmoke;
}

.info-bar{
    margin-left: 30px;
    margin-right: 30px;
}
