.Statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 100px;
    padding-bottom: 100px;
}


.text h1 {
    margin-top: 0px;
    font-size: 50px;
    font-weight: 700;
}


.Players .Player .feild {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 500px;
    height: 40px;
    margin-bottom: 5px;
}


.Players h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}


.Players .Player .Unfeild {
    display: flex;
    background-color: none;
    color: rgb(186 194 208);
    width: 500px;
    height: 40px;
    margin-bottom: 5px;
}


.Player h3 {
    margin: 5px;
    font-size: 20px;
    width: 170px;
}

.Player p {
    margin-left: 150px;
    font-size: 20px;
}

.PlayerPhoto {
    position: relative;
}

.shedo {
    transform: translate(-50%, -50%);
    margin: 0;
    width: 80px;
    background: #122c83;
    position: absolute;
    top: 88%;
    left: 50%;
    font-size: 36px;
    line-height: 70px;
    padding-bottom: 7px;
    transition: 0.3s;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    border-radius: 10px;
}



.PlayerPhoto img {
    width: 350px;
    margin: 50px;
}