.proceed-to-pay{
         text-align: center;
}
.proceed-to-pay button{
     background-color: gray;
     border: none;
     color: white;
     cursor: pointer;
     font-size: 14px;
     font-weight: 500;
     line-height: 1;
     padding: 11px 30px;
     text-transform: uppercase;
     -webkit-transition: all .3s ease 0s;
     transition: all .3s ease 0s;
}
.proceed-to-pay button:hover{
     background-color: #6f42c1;
     color: #fff;
}
.order-table{
     background-color: rgb(56, 65, 78);
}