body  {
  background: url(../src/Images/360_F_208698268_rXxoXUIVf1mjCgAMARUwBcOQGMrKkRBR.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue;
}