body  {
  background: url(../src/Images/texture-gradient-simple-background-blue-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue;
  overflow-x: hidden;
}


.color{
  color: #e40046;
}